h2{
    color: black;
    font-size: 20px;
}

label{
    font-size: 15px;

}

input{
    width: 749px;
    height: 20px;
}

button{
    width: 755px;
    height: 50px;
    background-color: red;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: darkred;
    color: whitesmoke;
}

.button-date{
    width: 752px;
    height: 20px;
}
