h2{
    color: black;
    font-size: 20px;
}

label{
    font-size: 15px;

}

input{
    width: 100px;
    border: solid black;
}

button{
    width: 108px;
    border: solid black;
    background-color: red;
    color: white;
}
